body {
    margin: 0;
    border: border-box;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.contaner {
    text-align: center;
}

h1 {
    font-size: 45px;
    font-weight: bolder;
}

label {
    font-weight: bold;
    font-size: 25px;
}

input {
    width: 135px;
    padding: 6px;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
}

button {
    width: 86px;
    padding: 6px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: blue;
    
}

button:hover {
    background-color: rgb(0, 89, 255);
}

#result {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: red;
}